h3{
    background-color: blanchedalmond;
    color: brown;
    border: 5px solid blue;
    font-weight: bolder;
    text-align: center;

}
p{
    
    display: inline-block;
    color: aliceblue;
    width: 200px;
    height: 200px;
    text-shadow: red saddlebrown;
    background-image: url('Bird_fly.jpg');
    font-style: italic;
    text-decoration: underline;
    text-align: justify;
    margin: 10px;
    padding: 5px;
    border: 5px red solid;
   background-repeat:initial;


}
#second{
    
    background-image: url('../my-first-design/image/nature.jpg');
    border: 10ps solid tomato;
    text-align: center;
    
}
div{
    
    
    margin: 5px;
}